﻿
/*!
This file is part of DecSoft App Builder.
Visit our website for license information.
Copyright ©2019 DecSoft. All rights reserved.
Visit our website at: https://www.davidesperalta.com

*/


html, body, .app-view { width: 320px; height: 480px; }
.app-dialog .modal-dialog { margin: auto; width: 320px; height: 480px; }
.app-dialog .modal-dialog .modal-content { width: 320px; height: 480px; }

#view1 #html1 { position: absolute; top: 192px; left: 16px; width: 288px; height: 112px; }

#view1 #select1 { position: absolute; top: 16px; left: 16px; width: 288px; height: 152px; }

#view1 #button1 { position: absolute; top: 344px; left: 16px; width: 288px; height: 32px; }

#view1 #button2 { position: absolute; top: 384px; left: 16px; width: 288px; height: 32px; }

#view1 #button3 { position: absolute; top: 424px; left: 16px; width: 288px; height: 32px; }
