﻿
/*!
This file is part of DecSoft App Builder.
Visit our website for license information.
Copyright ©2019 DecSoft. All rights reserved.
Visit our website at: https://www.davidesperalta.com

*/


html, body { width: 320px; height: 480px; }

#view1 #html1 { position: absolute; top: 40.00%; left: 5.00%; width: 90.00%; height: 23.33%; }

#view1 #select1 { position: absolute; top: 3.33%; left: 5.00%; width: 90.00%; height: 31.67%; }

#view1 #button1 { position: absolute; top: 71.67%; left: 5.00%; width: 90.00%; height: 6.67%; }

#view1 #button2 { position: absolute; top: 80.00%; left: 5.00%; width: 90.00%; height: 6.67%; }

#view1 #button3 { position: absolute; top: 88.33%; left: 5.00%; width: 90.00%; height: 6.67%; }
