﻿<transition v-bind:[app.viewTransitionName]="transitionName" v-bind:[app.viewTransitionMode]="transitionMode" v-bind:[app.viewInAnimation]="'animated ' + inAnimation" v-bind:[app.viewOutAnimation]="'animated ' + outAnimation"><div id="view1" v-bind:class="['app-view', classes]"><dab-sidebar v-bind="app.sidebar"></dab-sidebar><dab-html v-bind="html1">
<div class="alert alert-danger text-center" v-show="select1.value.length === 0">
 No items selected!
</div>

<div v-show="select1.value.length > 0">
 <strong>Selected items:</strong> {{select1.value}}
</div></dab-html><dab-multi-select-input v-model="select1.value" v-bind="select1"></dab-multi-select-input><dab-push-button v-bind="button1"></dab-push-button><dab-push-button v-bind="button2"></dab-push-button><dab-push-button v-bind="button3"></dab-push-button></div></transition>
